[Unit]
Description=SmppexWeb

[Service]
Environment=MIX_ENV=prod
User=av
WorkingDirectory=/home/av/smppex_web
ExecStart=/usr/local/bin/mix phoenix.server

[Install]
WantedBy=multi-user.target
